{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    <h4>{{ 'SIDEBAR.SIMPLE_SEARCH.HEADLINE'|t }}</h4>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}
{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <h4>{{ 'SIDEBAR.RELATED_POSTS.HEADLINE'|t }}</h4>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}
{% if config.plugins.random.enabled %}
<div class="sidebar-content">
	<h4>{{ 'SIDEBAR.RANDOM_ARTICLE.HEADLINE'|t }}</h4>
	<a class="button" href="{{ base_url }}/random"><i class="fa fa-retweet"></i> {{ 'SIDEBAR.RANDOM_ARTICLE.FEELING_LUCKY'|t }}</a>
</div>
{% endif %}
<div class="sidebar-content">
	<h4>Fédération</h4>
	<p style="text-align: center;">{% set image = page.find('/images').media['logo-ffepgv.png'] %}
	<img src="{{ image.url }}" width="80%" height="auto" alt="FFEPGV"/>
	</p>
	<p style="text-align: center;">Affilié à la<strong><a href="http://www.sport-sante.fr/ffepgv" target="_blank" title="Fédération Française d'Education Physique et de Gymnastique Volontaire"> Fédération Française d'Education Physique et de Gymnastique Volontaire</a></strong><br>depuis le 25 oct. 1971 sous le numéro 042004</p>
	<p style="text-align: center;">{% set image = page.find('/images').media['ddcs-titre.png'] %}
	<img src="{{ image.url }}" width="80%" height="auto" alt="Jeunesse et sport"/>
	</p>
	<p style="text-align: center;">Agréée <strong>Direction Départementale de la Jeunesse et des Sports</strong> 42.91.19 depuis le 27 déc. 1991</p>
</div>
{% if config.plugins.taxonomylist.enabled %}
<div class="sidebar-content">
    <h4>{{ 'SIDEBAR.POPULAR_TAGS.HEADLINE'|t }}</h4>
    {% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
</div>
{% endif %}
{% if config.plugins.archives.enabled %}
<div class="sidebar-content">
    <h4>{{ 'SIDEBAR.ARCHIVES.HEADLINE'|t }}</h4>
	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
</div>
{% endif %}
{% if config.plugins.feed.enabled %}
<div class="sidebar-content syndicate">
    <h4>{{ 'SIDEBAR.SYNDICATE.HEADLINE'|t }}</h4>
    <a class="button" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
    <a class="button" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
</div>
{% endif %}